body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

@keyframes  pop {
    0%{
        transform: scale(1);
    }
    25%{
        transform: scale(1.3);
    }
    50%{
        transform: rotate(45deg);
        background:tomato ;
    }
    100%{
        transform: rotate(0) ;
    }
}
.box{
    width: 100px;
    height: 100px;
    background: rgb(229, 233, 16);
    animation-name:pop ;
    animation-duration: 4s;
    animation-delay:1s ;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
    animation-duration: alternate;
    /* animation:pop 4s ease-out; */
}


